*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-size: 18px;
    font-family: rubik;
}

header{
    width: 100%;
    height: 10vh;
    
}

.nav{
    position: relative;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__links__ul{
     display: flex;
    list-style: none;
  

}

.nav__links__li{
    margin-left: 1.2rem;

}

.ham div{

    display: none;
    width: 33px;
    height: 5px;
    margin: 6px;
    background-color: hsl(231, 69%, 60%);
    transition: all 0.1s ease;
}

.nav__logo{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.content1{
   
    width: 100%;
}

.hero{
    
    width: 85%;
    margin: 0 auto;
    height: 83vh;
    display: flex;
    align-items: center;
}

.grafico{
    z-index: -1;
    position: absolute;
    top: 11rem;
    right: 0;
    background-color: hsl(231, 69%, 60%);
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    width: 35%;
    height: 10%;
    animation: imagen ease-in-out 3s 1;
}

.hero__ilustration {
    
    width: 50%;
    
    
}

.hero__ilustration img{
    position: relative;
    z-index: 3;
    width: 100%;
    animation: rotar ease-in-out 4s 1; 
    
    
    
}

.hero__info{
    padding: 1rem;
    width: 45%;
}

.hero__info h1{
    margin-bottom: 1.6rem;
    animation: animate 3s 1;
}

.botons{
    margin-top: 1.6rem;
}

.botons__info{
    border-radius: 3px;
    border: none;
    padding: 1rem 1.2rem;
    outline: none;
    margin: 0 0.4rem;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.116) ;
}

.botons__info-active{
    color: white;
    background: hsl(231, 69%, 60%);
}

.content2__head{
    width: 60%;
    margin: 1rem auto;
    text-align: center;
}

.content2__h1{
    margin-bottom: 0.8rem;
}



.tabs{
        display: flex;
        justify-content: space-between;
        height: 100%;
}

.tabs__ul{

    color:  hsl(231, 69%, 60%);
    display: flex;
    margin: 1.5rem auto;
    padding-inline-start: 0;
   


}


.parent__tab{
    width: 100%;
    height: 60%;
    position: relative;
}

.parent__tab .one, .two, .three{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    background-color: white;
    
}

.tabs__ul li{
    padding-right: 0.6rem;
    width: 100%;
    display: flex;
    list-style: none;
}

.tabs__ul li a{
    text-decoration: none;
    
}

.tabs__ul li a:hover{
    border-bottom: 3.5px solid hsl(231, 69%, 60%);
}

.htabs{
    margin-bottom: 0.7rem;
}





.two:target{
    display: flex;
    z-index: 3;
    
}

.three:target{
    display:flex;
    z-index: 5;
}

.one, .two, .three{
    width: 100%;
    display: flex;
}


.one__img, .two__img, .three__img{

    width: 35%; 

}


.one__img img, .two__img img, .three__img img{
   
    width: 100%;

}

.one__info, .two__info, .three__info{
width: 55%;   

    
    
}

.one__info h3{
    margin-bottom: 1rem;
}


    

.two__info h3{
    margin-bottom: 1rem;

}

.two, .three{
    display: none;
}

.content2{
    width: 90%;
    padding: 1rem;
    height: 550px;
    margin: 4rem auto
}

.botons__info--down{
    margin-top: 1rem;
    color: white;
    background: hsl(231, 69%, 60%);
}

.h23{
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}
.card__container{
    margin: 1.5rem auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.card1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    width: 25%;
    padding: 3rem 1.4rem;
    border-radius: 6px;
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.425);
}

.card1 h4{
    margin-bottom: 0.6rem;
}

.card1 button{
    margin-top: 2rem;
}

.card1 img{
    
    width: 65%;
   margin: 1rem auto;
}


.a1, .a2, .a3, .a4{
    padding: 0.8rem 0;
    display: none;
    color: black;
}

.a1:target{
    display: block;
}


.a2:target{
    display: block;
}

.a3:target{
    display: block;
}

.a4:target{
    display: block;
}

.question{
    margin-top: 4rem;
}

.questions{
    
    color:  hsl(231, 69%, 60%);
    list-style: none;
    text-decoration: none;
    width: 45%;
    margin: 1rem auto;
}

.questions li{
    padding: 0.6rem;
}

.questions li a{
    text-decoration: none;
}

.content4{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: hsl(231, 69%, 60%);
    text-align: center;
}

.formulario{
    display: flex;
}

.formulario input{
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0.8rem;
}

.formulario button{
    cursor: pointer;
    padding: 0.45 0.6 rem;
    height: 2.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: hsl(0, 94%, 66%);
    margin-left: 0.8rem;
}


#alerta{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;
    border-right: 2px solid red;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    background-color: rgb(245, 111, 111);
    transition: all 0.7s ease-in-out;
    display: none;
    padding: 0.5rem;
    font-size: 0.8rem;
}

#alerta.active{
    display: block;
}
#alerta.desactivate{
    display: block;
    background: green;
}
.content4 h2, form, p{
    margin-bottom: 1.6rem;
}

.content5{

    background-color: hsl(229, 31%, 21%);
}

.foot{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 85%;
}

.foot1{
    color: white;
    display: flex;
}

.foot1 p{
    margin-right: 1rem;
}

.foot1 img{
    
    height: 2rem;
}

.button41{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.button4{
    color: white;
    background: hsl(231, 69%, 60%);
    border-radius: 3px;
    border: none;
    padding: 1rem 1.1rem;
    outline: none;
    margin: 2rem auto;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.116) ;
}

.content3{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

@keyframes animate
 {
     0%{
         margin-left: -200px;
     }
 }

 @keyframes imagen {
  0%{
       margin-top: -200px;

  }
 }

 @keyframes rotar {
     0%{
         transform: rotate(20deg);
     }

     50%{ 
         transform: rotate(-20deg);
        }
 }
@media only screen and (max-width: 880px ){
    body{
        font-size: 15px;
    }
}

@media only screen and (max-width: 469px){


.nav{
    
width: 100%;
   
 
}

.nav__links{
    display: none;
    text-align: center;
    background-color: hsl(231, 69%, 60%);
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100vh;
    z-index: 7;

}

.nav__links__li{
    margin-left: 0;

}

.nav__links.active{
    display: block
}


.nav__logo img{
    width: 9rem;
}

.ham div{
    display: block;
}
.ham{
    margin-right: 10%;
}

.line1.toggle{
transform: rotate(-45deg) translate(-5px, 6px);
}

.line2.toggle{
    opacity: 0;
}

.line3.toggle{
    transform: rotate(45deg) translate(-9px, -11px);
    }

.nav__logo{
    margin-left: 10%;
}



.nav__links__li{
    color: white;
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(253, 251, 251, 0.507);
    padding: 1rem;
}

.nav__links__ul{
    padding: 0;
    flex-direction: column;
}

    .hero{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero__ilustration{
        width: 79%;
    }

    .hero__ilustration img{
        padding-top: 1.3rem;
    }

    .hero__info{
        width: 83%;
    }

    .botons{
        display: flex;
    }

    .botons__info{
        padding: 0.6rem 1.2rem;
    }

    .grafico{
        top: 11rem;
    }

    .content2__head{
        width: 75%;
    }
    
    .one, .two, .three{
        flex-direction: column;
        align-items: center;
    }

    .one__info, .two__info, .three__info{
        width: 70%;
        text-align: center;
    }

    .one__img, .two__img, .three__img{
        width: 60%;
        margin-bottom: 1.4rem;
    }

    .content3{
        margin-top: 12rem;
    }

    .card__container{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .card1{
        width: 65%;
    }

    .questions{
        padding: 0;
        text-align: center;
        width: 70%;
        
    }
    
    
        .foot{
            display: none;
        }
}

@media only screen and (max-width: 376px){ 

    .tabs__ul{
        flex-direction: column;
    }
    .tabs__ul li{
   justify-content: center;
   padding: 0.3rem;
    }

    .content3{
        margin-top: 16rem;
    }
    .hero__info{
        width: 90%;
    }

    .content4{
        padding: 1rem;
    }

    .formulario{
     justify-content: space-evenly;
    }


  }



@media only screen and (max-height: 622px){
    body{
        font-size: 11px;
    }



    .ham div{
    width: 28px;
    height: 3px;
    margin: 4px;
    }
}